<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">qwe</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/SetorAlocacao</property>
		<property name="hibernate.connection.username">teste</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Declaração do mapeamento da classe pessoa e classes auxiliares -->
		<mapping class="Bin.Pessoa.Pessoa" />
		<mapping class="Bin.Pessoa.Filiacao" />
		<mapping class="Bin.Pessoa.Telefone" />
		<mapping class="Bin.Pessoa.Rg" />
		
		
		<!-- Declaração do mapeamento da classe pessoa e classes auxiliares -->
		<mapping class="Bin.Pessoa.Atendente" />
		
		<!-- Declaração do mapeamento da classe endereço que contem tanto no imovel quanto nas pessoas -->
		<mapping class="Bin.Endereco" />
		
		<!-- Declaração do mapeamento da classe imovel e classes auxiliares -->
		<mapping class="Bin.Imovel.Caracteristica" />
		<mapping class="Bin.Imovel.Escritura" />
		<mapping class="Bin.Imovel.Imovel" />
		
		<!-- Declaração do mapeamento da classe Captação e visitas -->
		<mapping class="Bin.Captacao.Captacao" />
		<mapping class="Bin.Captacao.Visita" />
		
		<!-- Declaração do mapeamento da classe Erro para guardar erros ocorridos -->
		<mapping class="Testes.Erro" />

	</session-factory>
</hibernate-configuration>
